<!DOCTYPE html>
<html lang="en">
    <head>
      {% if title %}
      <title>{{ title }} - Student Tracker</title>
      {% else %}
      <title>Welcome to Student Tracker</title>
      {% endif %}
    </head>
    <body>
        <div>
            Student Tracker:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            <a href="{{ url_for('student') }}">Students</a>
            <a href="{{ url_for('year') }}">Year</a>
            <a href="{{ url_for('classes') }}">Class</a>
            <a href="{{ url_for('quiz') }}">Quiz</a>
            <a href="{{ url_for('results') }}">Result</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>