<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
</head>
<body>
        {% extends "base.html" %}

        {% block content %}
            <h1>Classes</h1>

            <div>
            <table id="classes">
                <tr>
                    <th>ID</th>
                    <th>Class Name</th>
                    <th>Subject</th>
                    <th>Student ID</th>
                </tr>
                {% for class in classes %}
                <tr>
                    <td> {{class.id}} </td>
                    <td> {{class.name}} </td>
                    <td> {{class.subject}} </td>
                    <td> {{class.student_id}} </td>
                </tr>
                {% endfor %}
            </table>
            </div><br>
            <form action="/class" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(size=20) }}<br>
                    {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.subject.label }}<br>
                    {{ form.subject(size=20) }}<br>
                    {% for error in form.subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.student_id.label }}<br>
                    {{ form.student_id(size=4) }}<br>
                    {% for error in form.student_id.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        {% endblock %}
    </body>
</html>